body {
	padding-top: 70px;
}

/* Sets the search icon inside input */
.has-feedback .glyphicon-search { top: 0; }

/* Titles for bundling modules. */
.panel > .panel-heading > a {
	display: block;
	color: #000;
}
	.panel > .panel-heading > a > small {
		padding: 4px 0;
		color: #777;
	}

/* Items list in navigation. */
.panel .nav > li > strong {
	display: block;
	margin-top: 8px;
	padding: 4px 15px;
}

.panel .nav > li > a { padding: 4px 15px 4px 24px; }

